@layout()
 <ul>
    @each(todo in todos)
      <li>
        <strong>{{ todo.title }}</strong>
        @if(todo.description)
          : {{ todo.description }}
        @endif
        |
         @field.root({ name: 'title' })
            @!input.control({ type: 'checkbox', checked: todo.completed, disabled: true })
          @end
        |
        @form({ route: 'todos.destroy', routeParams: { id: todo.id } })
          @!button({ text: 'Löschen', type: 'submit' })
        @end
      </li>
    @end
  </ul>
@end
